<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- dynamic links rendered here -->
            <!--
            <ul class="nav navbar-nav">

                <li class="active"><a href="#node">Node.js</a></li>
                <li><a href="#coffeescript">CoffeeScript</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Testing<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#mocha">Mocha</a></li>
                        <li><a href="#istanbul">Istanbul</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Server<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#express">express</a></li>
                        <li><a href="#mongodb">MongoDB</a></li>

                        <li><a href="#hogan">Hogan</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Client<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#bootstrap">Bootstrap</a></li>
                        <li><a href="#backbone">Backbone</a></li>
                        <li><a href="#jquery">jQuery</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Continuous Deployment<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#github">GitHub</a></li>
                        <li><a href="#strider">Strider</a></li>
                        <li><a href="#server">Staging Server</a></li>
                    </ul>
                </li>

            </ul>
            -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

