<div class="jumbotron">
    <h1>{{title}}</h1>
    <p>{{ description }}</p>
</div>

<script>
        function createSection(title){
            var newSection = new Section();
            var details = {
                title: title,
                body: 'hello world!!!'
            };

            newSection.save(details, {
                success: function (newSection) {
                   alert(newSection.toJSON());
                }
            })
        }
/*       var aSection = new Section({_id:'52ebfd45fcd789bc4b3c67ab'});

        aSection.fetch({
            success: function(aSection) {
                //alert(aSection['attributes']['title']);
                var view  = new SectionView({model: aSection});
                $('#content').html(view.render().el);
            }
        });*/
</script>

<div id="content">


</div>